.main {
   display: flex;
   justify-content: center;
   padding: 15px;
 }
 .adding{
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 .paper {
   padding: 20px;
 }
 input {
   width: 95%;
 }
 textarea {
   width: 95%;
   height: 150px;
 }
 .btn-add {
   width: 96%;
   height: 50px;
 }
 h1{
   justify-content: center;
 }